@charset "UTF-8";
*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: #ECE8EF;
  text-align: center;
  color: #1C0221;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  font-size: 1.2rem;
}

section {
  margin: 40px auto;
  max-width: 1400px;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 0px;
}

h2::after {
  content: "• • • • • •";
  color: #53B3CB;
  text-shadow: #53B3CB 0 0 5px;
  margin: 0 20px;
  display: block;
}

.header {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header__wrapper-top {
  position: relative;
  text-align: right;
  margin-bottom: -70px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media screen and (min-width: 500px) {
  .header__wrapper-top {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .header__wrapper-top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__h1 {
  font-size: 2.5rem;
  margin-top: 0;
  padding-top: 16px;
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 16px;
}
@media screen and (min-width: 500px) {
  .header__h1 {
    margin-bottom: -10px;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1000px) {
  .header__h1 {
    font-size: 6rem;
  }
}

.header__hbg-wrapper {
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}
@media screen and (min-width: 500px) {
  .header__hbg-wrapper {
    display: none;
  }
}

.header__hbg {
  display: block;
  width: 40px;
  height: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1C0221;
  position: relative;
  z-index: 200;
}

.header__hbg:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.header__wrapper-bottom {
  position: relative;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header__wrapper-nav {
  background-color: #53B3CB;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 700px) {
  .header__wrapper-nav {
    height: 340px;
  }
}

.header__img {
  margin-left: -10px;
  -webkit-animation: rotateAnimation 5s 1;
          animation: rotateAnimation 5s 1;
}
@media screen and (min-width: 700px) {
  .header__img {
    margin-left: 5px;
    margin-top: -100px;
    width: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .header__img {
    width: 400px;
    margin-top: -160px;
  }
}

@-webkit-keyframes rotateAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rotateAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 500px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column: 2/3;
    gap: 24px;
    margin-left: -20px;
    width: 90%;
  }
}
@media screen and (min-width: 700px) {
  .header__nav {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  background-color: #FFCF56;
  color: #1C0221;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  z-index: 200;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .header__nav-button {
    width: 80%;
    height: 15%;
    max-width: 500px;
  }
}

.header__nav-button:hover {
  background-color: #e0a611;
}

.header__nav.shown {
  position: absolute;
  left: -40px;
  -webkit-animation-name: menuShowAnimation;
          animation-name: menuShowAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes menuShowAnimation {
  from {
    left: 200px;
  }
  to {
    left: -40px;
  }
}

@keyframes menuShowAnimation {
  from {
    left: 200px;
  }
  to {
    left: -40px;
  }
}
.header__nav.hide {
  position: absolute;
  left: -40px;
  -webkit-animation-name: menuHideAnimation;
          animation-name: menuHideAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes menuHideAnimation {
  from {
    left: -40px;
  }
  to {
    left: 200px;
  }
}

@keyframes menuHideAnimation {
  from {
    left: -40px;
  }
  to {
    left: 200px;
  }
}
.header__nav-button.shown-btn {
  height: 70px;
  width: 100vw;
  border-radius: 0px;
  justify-content: left;
  padding-left: 60px;
}

.header__hbg.first {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
  margin-top: -5px;
}

.header__hbg.second {
  display: none;
}

.header__hbg.third {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
  margin-top: -5px;
}

.news_content-wrapper {
  -webkit-animation-name: newsAnim;
          animation-name: newsAnim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes newsAnim {
  0% {
    transform: translateY(-90%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

@keyframes newsAnim {
  0% {
    transform: translateY(-90%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}
.aktuality-dulezite {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .aktuality-dulezite {
    display: flex;
    width: 90%;
    gap: 20px;
  }
}

.news {
  margin-top: 420px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .news {
    flex-basis: 50%;
    border-right: #53B3CB solid 5px;
    padding-right: 10px;
    text-align: left;
  }
}

.news_content::after {
  content: "• • • ";
  color: #FFCF56;
  text-shadow: #FFCF56 0 0 10px;
  margin: 0 20px;
  display: block;
  font-size: 3rem;
}

@media screen and (min-width: 1000px) {
  .important {
    flex-basis: 50%;
    margin-top: 380px;
    text-align: left;
    padding-left: 10px;
  }
}

.important__img {
  width: 100px;
  display: none;
}

.open {
  background-image: url("../images/lekarske-nastroje-S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px;
}
@media screen and (min-width: 500px) {
  .open {
    background-position: center;
    background-image: url("../images/lekarske-nastroje.jpg");
  }
}
@media screen and (min-width: 1000px) {
  .open {
    background-position: center;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
  }
}

.open__text {
  display: inline-block;
  max-width: 280px;
  text-align: right;
}

.open__wrapper {
  text-align: right;
  padding: 10px;
  max-width: 1400px;
}
@media screen and (min-width: 1000px) {
  .open__wrapper {
    grid-column: 3/4;
  }
}

@media screen and (min-width: 1000px) {
  .contact__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.contact__icon {
  width: 40px;
  color: #53B3CB;
}
@media screen and (min-width: 500px) {
  .contact__icon {
    margin-right: 20px;
  }
}

@media screen and (min-width: 500px) {
  .contact__type,
.contact__type {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .contact__type,
.contact__type {
    justify-content: left;
  }
}

.contact__map {
  width: 100%;
  max-width: 500px;
}

.footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.footer__img {
  width: 100%;
}

.footer_text {
  margin-top: 0px;
  background-color: #c1e1e2;
  padding: 8px;
}/*# sourceMappingURL=style.css.map */