$base-color-light: #ECE8EF;
$base-color-dark: #1C0221;
$base-color:#53B3CB;
$base-color-extra: #FFCF56;

@mixin tablet { 
    @media screen and (min-width: 500px) {@content; }}

@mixin tabletmidi {
    @media screen and (min-width: 700px) {@content; }
}
@mixin desktop {
    @media screen and (min-width: 1000px) {@content; }}


*, :after, :before {
    box-sizing: border-box;
  }

body{
    background-color:$base-color-light;
    text-align:center;
    color:$base-color-dark;
    font-family:Arial, Helvetica, sans-serif;
    padding:15px;
    font-size: 1.2rem;
}

section {
    margin: 40px auto;
    max-width: 1400px;
    
}

h2{
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

h2::after{
    content: "• • • • • •";
    color: $base-color;
    text-shadow: $base-color 0 0 5px;
    margin:0 20px;
    display:block;
}




//HEADER

.header{
    max-width: 1400px;
    margin-left:auto;
    margin-right:auto;  
}

.header__wrapper-top{
    position:relative;
    text-align: right;
    margin-bottom: -70px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
 

    @include tablet{
        margin-bottom:0px;
        display:flex;
    flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    @include desktop {
        width: 90%;
    margin-left:auto;
    margin-right:auto;
    }   
}
.header__h1{
    font-size: 2.5rem;
    margin-top:0;
    padding-top:16px;
    text-align:right;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom:16px;
   

    @include tablet{
    margin-bottom:-10px;
    font-size: 4rem;
    }

    @include desktop{
        font-size: 6rem;
    }

}
.header__hbg-wrapper{
    display:inline-block;
    text-align: right;
    margin-right: 15px;
   
    @include tablet{
        display:none;
    }
}


.header__hbg{
    display:block;
    width: 40px;
    height: 5px; 
    margin-right:auto;
    margin-left:auto;
    background-color:$base-color-dark;
    position:relative;
    z-index:200;
}




.header__hbg:nth-child(2){
    margin-top:8px;
    margin-bottom:8px;

}


.header__wrapper-bottom{
    position:relative;
    display:flex;
    width: 90%;
    margin-left:auto;
    margin-right:auto;

}

.header__wrapper-nav{
    background-color: $base-color;
    height:300px;
    width: 100%;
    position: absolute;
    top:10px;
    display:grid;
    grid-template-columns: 1fr 1fr;

    @include tabletmidi {
        height: 340px;
       
    }
     
}

.header__img{
 margin-left: -10px;
 animation: rotateAnimation 5s 1;

   @include tabletmidi {
   margin-left: 5px;
    margin-top: -100px;
    width: 350px;
   }

   @include desktop{
    width:400px;
    margin-top: -160px;
   }
    
}


@keyframes rotateAnimation {
    0% {opacity: 0;};
	50% {opacity: 1;};	
}


.header__nav{
    display:none; 

    @include tablet { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column: 2 / 3;
    gap: 24px;
    margin-left: -20px;
    width: 90%;

    
} 

@include tabletmidi{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right:auto;
 
}
}

.header__nav-button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background-color: $base-color-extra;
    color: $base-color-dark;
    border-radius: 10px;
  width: 200px;
   font-weight: bold;
   z-index:200;
   cursor:pointer;
  
   

   @include tabletmidi {
width:80%;
height: 15%;
max-width:500px;

   }  
}


.header__nav-button:hover{
    background-color:#e0a611;
}




//JS HMBG Menu Shown
.header__nav.shown {
    position:absolute; 
    left: -40px;
    animation-name: menuShowAnimation;
    animation-duration:1s;
}

@keyframes menuShowAnimation {
    from {left:200px;}
    to {left:-40px;}
  }

.header__nav.hidden{
    position:absolute; 
    left: -40px;
    animation-name: menuHideAnimation;
    animation-duration:1s; 
}

@keyframes menuHideAnimation {
    from {left:-40px;}
    to {left:200px;}
  }

.header__nav-button.shown-btn{
    height:70px;
    width: 100vw;
    border-radius:0px;
    justify-content:left;
    padding-left:60px;
}



.header__hbg.first {
    transform:rotate(45deg);
    transition: transform 0.4s ease-in-out;
    margin-top:-5px;
}

.header__hbg.second {
    display:none;
}

.header__hbg.third {
    transform:rotate(-45deg);
    transition: transform 0.4s ease-in-out;
    margin-top:-5px;
}


//AKTUALITY

.news_content-wrapper{
    animation-name: newsAnim;
    animation-duration: 0.5s;
    animation-iteration-count:initial;
}

@keyframes newsAnim {
    0% {transform: translateY(-90%);
        opacity: 0; }
    50% {opacity:0;}
    100% {transform: translateY(1%);
        opacity:1; } 
    }

.aktuality-dulezite {
    width:80%;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    @include desktop {
        display:flex;
        width:90%;
        gap: 20px;
    
    }
}

.news{
    margin-top: 420px; 
    text-align:center;

    
    @include desktop{
        flex-basis: 50%;
        border-right: $base-color solid 5px;
        padding-right: 10px;
        text-align:left;
        margin-top: 380px; 
    }
   
}




.news_content::after{
    content: "• • • ";
    color: $base-color-extra;
    text-shadow: $base-color-extra 0 0 10px;
    margin:0 20px;
    display:block;
    font-size: 3rem;


}


//DULEZITE

.important{
    @include desktop {
        flex-basis:50%;
        margin-top: 380px; 
    text-align:left;
padding-left:10px;}
}

.important__img {
    width: 100px;
    display:none;
}




//ORDINAČNÍ HODINY

.open{
    background-image: url("../images/lekarske-nastroje-S.jpg"); //object-fit pro fotky, nastavit height&weight. 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px;

    @include tablet {
        background-position: center;
        background-image: url("../images/lekarske-nastroje.jpg")
    }
   
    @include desktop {
        background-position: center;
        display:grid;
        grid-template-columns: 15% 1fr 1fr 15%;
    }
}


.open__text{
    display:inline-block;
    max-width:280px;
    text-align:right;
}
.open__wrapper{
  
    text-align: right;
    padding: 10px;
    max-width: 1400px;
    @include desktop {
        grid-column: 3 / 4;
      
        
    }

}

//KONTAKTY
.contact__list-wrapper{
    @include desktop {
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: left;
        margin-left: 60px;
        margin-right: 60px;
       
    }
}



.contact__icon {
    width: 40px;
    color:$base-color;

    @include tablet{
        margin-right: 20px;
    }
}

.contact__type,
.contact__type{

    @include tablet { 
    display:flex;
    align-items: center;
    justify-content: center;}

    @include desktop{
        justify-content: left;
    }
}
.contact__map{
    width:100%;
    max-width: 500px;
}

//FOOOTER
.footer{
  font-size: 1rem;
  display:flex;
  flex-direction: column;  
}

.footer__img {
    width:100%;
}

.footer_text{
    margin-top:0px;
    background-color:#c1e1e2;
    padding: 8px;
}

.footer__author{
text-decoration: none;
color:$base-color-dark;
}